<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
    <a class="navbar-brand">Grocery Store</a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="/user/history">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/cart">Cart</a>
            <li class="nav-item">
                <a class="nav-link" href="/user/dashboard">Home</a>
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/logout">LogOut</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>

   <div class="container mt-5">
        <br>
        <h2>Search</h2>
        <hr>
        <form action="{{ url_for('search') }}" method="POST" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" name="search_query" placeholder="Search for categories, products, or price range" required>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
        <hr>
        <h3>Results for : {{ search_query }}</h3>
        <hr>
        {% if section_results %}
            {% for section_name, products_in_section in section_results %}
                <h4>Products</h4>
                <div class="mb-4">
                    {% for product in products_in_section %}
                      {% include 'product_card.html' %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
        
        {% if product_results %}
            <h4>Products</h4>
            <div class="mb-4">
                {% for product in product_results %}
                  {% include 'product_card.html' %}
                {% endfor %}
            </div>
        {% endif %}
        {% if not section_results and not product_results %}
            <p>No results found.</p>
        {% endif %}
    </div>
<br><br>
</body>
</html>
