<!DOCTYPE html>
<html>
<head>
    <title>Thanks for Shopping</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand">Grocery Store</a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/user/logout">LogOut</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
      <br>
        <div class="text-center">
            <h1>Thanks for Shopping!</h1>
            <p>Your purchase was successful.</p>
            <a class="btn btn-primary" href="/user/dashboard">Go to Home</a>
        </div>
    </div>
</body>
</html>
